{"openapi":"3.1.0","info":{"title":"Content Planner API","description":"영상 콘텐츠 기획 AI 서비스 백엔드 API\n\n**인증**: `Authorization: Bearer <accessToken>` 헤더 (JWT, 세션 없음). 우측 상단 Authorize 버튼에 토큰을 넣으면 보호된 API를 테스트할 수 있습니다.\n\n**공개 엔드포인트(토큰 불필요)**: `POST /api/auth/**`(회원가입/로그인), `GET /actuator/health`, `/docs`, `/swagger-ui/**`, `/v3/api-docs/**`\n\n그 외 모든 엔드포인트는 인증이 필요하며, 미인증 시 `{\"status\": 401, \"error\": \"인증이 필요합니다.\"}` 형태의 401 응답이 내려갑니다.\n","version":"v1"},"servers":[{"url":"https://content-planner-api.kindglacier-476f4763.koreacentral.azurecontainerapps.io","description":"Production"}],"security":[{"bearerAuth":[]}],"paths":{"/api/plans":{"get":{"tags":["plan-controller"],"summary":"내 기획안 목록","description":"로그인한 사용자의 기획안을 최신순으로 페이징 조회한다(요약 필드만). page/size 지원. 정렬은 항상 최신순으로 고정된다. JWT 인증 필요.","operationId":"list","parameters":[{"name":"pageable","in":"query","required":true,"schema":{"$ref":"#/components/schemas/Pageable"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseListPlanSummaryResponse"}}}},"401":{"description":"인증 실패 — 토큰이 없거나 유효하지 않음","content":{"application/json":{"examples":{"미인증":{"value":{"status":401,"error":"인증이 필요합니다."}}}}}}}},"post":{"tags":["plan-controller"],"summary":"기획안 생성","description":"입력 폼(제목·카테고리·영상길이·주제·제작방식 등)을 AI 서버로 보내 콘텐츠 기획안(내러티브·출연구성·타임라인 대본)을 생성하고 저장한 뒤 결과를 반환한다. JWT 인증 필요.","operationId":"create","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CreatePlanRequest"}}},"required":true},"responses":{"201":{"description":"Created","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponsePlanDetailResponse"}}}},"401":{"description":"인증 실패 — 토큰이 없거나 유효하지 않음","content":{"application/json":{"examples":{"미인증":{"value":{"status":401,"error":"인증이 필요합니다."}}}}}}}}},"/api/auth/signup":{"post":{"tags":["auth-controller"],"summary":"회원가입","description":"username/password로 새 계정을 만든다. 성공 시 201, 데이터 본문은 없다.","operationId":"signup","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/SignupRequest"}}},"required":true},"responses":{"201":{"description":"Created","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseVoid"}}}}},"security":[]}},"/api/auth/login":{"post":{"tags":["auth-controller"],"summary":"로그인","description":"username/password를 검증하고 JWT 액세스 토큰(data.accessToken)을 발급한다. 이후 요청은 Authorization: Bearer <토큰> 헤더로 인증한다.","operationId":"login","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/LoginRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseTokenResponse"}}}}},"security":[]}},"/api/plans/{id}":{"get":{"tags":["plan-controller"],"summary":"기획안 상세 조회","description":"id로 기획안 전체(생성된 기획 내용 포함)를 조회한다. 본인 소유가 아니면 403. JWT 인증 필요.","operationId":"get","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponsePlanDetailResponse"}}}},"401":{"description":"인증 실패 — 토큰이 없거나 유효하지 않음","content":{"application/json":{"examples":{"미인증":{"value":{"status":401,"error":"인증이 필요합니다."}}}}}}}},"delete":{"tags":["plan-controller"],"summary":"기획안 삭제","description":"id로 기획안을 삭제한다(204). 본인 소유가 아니면 403. JWT 인증 필요.","operationId":"delete","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"204":{"description":"No Content"},"401":{"description":"인증 실패 — 토큰이 없거나 유효하지 않음","content":{"application/json":{"examples":{"미인증":{"value":{"status":401,"error":"인증이 필요합니다."}}}}}}}}},"/api/me":{"get":{"tags":["user-controller"],"summary":"내 정보 조회","description":"현재 로그인한 사용자의 정보(username)를 반환한다. JWT 인증 필요.","operationId":"me","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseMeResponse"}}}},"401":{"description":"인증 실패 — 토큰이 없거나 유효하지 않음","content":{"application/json":{"examples":{"미인증":{"value":{"status":401,"error":"인증이 필요합니다."}}}}}}}}}},"components":{"schemas":{"CreatePlanRequest":{"type":"object","properties":{"inputForm":{"$ref":"#/components/schemas/InputForm"}},"required":["inputForm"]},"InputForm":{"type":"object","properties":{"title":{"type":"string","maxLength":200,"minLength":0},"category":{"type":"string","enum":["VLOG","REVIEW","EDUCATION","ENTERTAINMENT","ETC"]},"videoLength":{"type":"string","enum":["10min","5min","1min"]},"topic":{"type":"string","maxLength":2000,"minLength":0},"productionMethod":{"type":"string","enum":["SOLO","INTERVIEW","NARRATION"]},"location":{"type":"string","maxLength":500,"minLength":0},"extra":{"type":"string","maxLength":2000,"minLength":0}},"required":["category","productionMethod","title","topic","videoLength"]},"ApiResponsePlanDetailResponse":{"type":"object","properties":{"status":{"type":"integer","format":"int32"},"data":{"$ref":"#/components/schemas/PlanDetailResponse"},"error":{"type":"string"}}},"PlanDetailResponse":{"type":"object","properties":{"id":{"type":"string","format":"uuid"},"title":{"type":"string"},"category":{"type":"string","enum":["VLOG","REVIEW","EDUCATION","ENTERTAINMENT","ETC"]},"status":{"type":"string","enum":["DRAFT","GENERATING","COMPLETED","FAILED"]},"inputForm":{"$ref":"#/components/schemas/InputForm"},"generatedPlan":{"type":"object","additionalProperties":{}},"createdAt":{"type":"string","format":"date-time"},"updatedAt":{"type":"string","format":"date-time"}}},"SignupRequest":{"type":"object","properties":{"username":{"type":"string","minLength":1,"pattern":"^[a-zA-Z0-9_]{3,20}$"},"password":{"type":"string","maxLength":64,"minLength":8}},"required":["password","username"]},"ApiResponseVoid":{"type":"object","properties":{"status":{"type":"integer","format":"int32"},"data":{},"error":{"type":"string"}}},"LoginRequest":{"type":"object","properties":{"username":{"type":"string","minLength":1},"password":{"type":"string","minLength":1}},"required":["password","username"]},"ApiResponseTokenResponse":{"type":"object","properties":{"status":{"type":"integer","format":"int32"},"data":{"$ref":"#/components/schemas/TokenResponse"},"error":{"type":"string"}}},"TokenResponse":{"type":"object","properties":{"accessToken":{"type":"string"}}},"Pageable":{"type":"object","properties":{"page":{"type":"integer","format":"int32","minimum":0},"size":{"type":"integer","format":"int32","minimum":1},"sort":{"type":"array","items":{"type":"string"}}}},"ApiResponseListPlanSummaryResponse":{"type":"object","properties":{"status":{"type":"integer","format":"int32"},"data":{"type":"array","items":{"$ref":"#/components/schemas/PlanSummaryResponse"}},"error":{"type":"string"}}},"PlanSummaryResponse":{"type":"object","properties":{"id":{"type":"string","format":"uuid"},"title":{"type":"string"},"category":{"type":"string","enum":["VLOG","REVIEW","EDUCATION","ENTERTAINMENT","ETC"]},"status":{"type":"string","enum":["DRAFT","GENERATING","COMPLETED","FAILED"]},"createdAt":{"type":"string","format":"date-time"}}},"ApiResponseMeResponse":{"type":"object","properties":{"status":{"type":"integer","format":"int32"},"data":{"$ref":"#/components/schemas/MeResponse"},"error":{"type":"string"}}},"MeResponse":{"type":"object","properties":{"username":{"type":"string"}}}},"securitySchemes":{"bearerAuth":{"type":"http","scheme":"bearer","bearerFormat":"JWT"}}}}